{% extends 'pages/base.html' %}
{% block head_title %}Twitter{% endblock head_title%}
{% block content %}
<h3>Django Javascript </h3>
<div id="tweetsElement">
    Loading
</div>
<script> 

    // const tweet = document.getElementById("tweet")
    // tweet.innerHTML = "Nuevos Tweets"

const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/tweets'
const responseType = 'json'

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function(){
    const serverResponse = xhr.response
    var listItems = serverResponse.response
    console.log(listItems)
    let finalTweetStr = ""
    let i;
    for( i = 0 ; i < listItems.length; i++){
        console.log(i);
        console.log(listItems[i]);
        let currentItem = '<div class="mb-4"><h2>' + listItems[i].id +'</h2><p>'+ listItems[i].content+'</p></div>'
        finalTweetStr += currentItem 
    }
    tweetsElement.innerHTML = finalTweetStr
}
xhr.send()

</script>
{% endblock %}